@Scripts.Render("~/bundles/angular-lib")
@Scripts.Render("~/bundles/angular-banjo")
@Styles.Render("~/bundles/font-awesome")
@Styles.Render("~/bundles/less")

<h3>Banjo</h3>

<div ng-app="BanjoApp">
    <div ng-controller="NodeController">
        <node data="root"></node>
    </div>
</div>