@Scripts.Render("~/bundles/angular-lib")
@Scripts.Render("~/bundles/angular-banjo")
@Styles.Render("~/bundles/less")

<h3>Banjo</h3>

<div ng-app="BanjoApp">
    <div ng-controller="NodeController">
        <node data="root"></node>
        @*<hl/>
        <ul>
            <li ng-repeat="node in nodes" ng-click="expand(node)">
                {{node.Text}}
                <ul>
                    <li ng-repeat="n in node.children">
                        child: {{n.Text}}
                    </li>
                </ul>
            </li>
        </ul>*@
    </div>
</div>