@Scripts.Render("~/bundles/angular-lib")
@Scripts.Render("~/bundles/angular-banjo")

<h3>Banjo</h3>

<div ng-app="BanjoApp">
    <div ng-controller="NodeController">
        <ul>
            <li ng-repeat="node in nodes" ng-click="expand(node)">
                {{node.Text}}
                <ul>
                    <li ng-repeat="n in node.children">
                        child: {{n.Text}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>