@import (reference) "font-awesome/font-awesome.less";

.node {
    i {
        font-size: 0.9em;
    }
    i.expand:before {
        content: @fa-var-plus-square-o;
    }
    i.collapse:before {
        content: @fa-var-minus-square-o;
    }
    i.leaf:before {
        content: @fa-var-play;
    }
    i.add {
        color: #aaa;
        &:before {
            content: @fa-var-plus-circle;
        }
    }
}

.node .text {
    cursor: pointer;
    display: inline-block;
    &:hover {
        background-color: #ccc;
    }
}

.node {
    display: inline-block;
    margin-left: 20px;
}